<div class="layout-message-pictext" ng-class="{one: item.length === 1,other:item.length !== 1}">
    <ul>
        <li ng-class="{first: $first,other:!$first}" ng-repeat="list in item">
            <h5><a href="{{list.review}}" ng-bind="list.title" target="_blank"></a></h5>
            <em ng-bind="list.time"></em>
            <div class="imgArea">
                <img ng-src="{{list.imgpath}}" alt="">
                <h5 ng-if="list.length!==1"><a href="{{list.review}}" ng-bind="list.title" target="_blank"></a></h5>
            </div>
            <p ng-if="item.length===1" ng-bind="list.summary"></p>
        </li>
    </ul>
</div>
