<div class="video-fileupload" ng-init="init()">
	<button type="button"
		class="btn btn-sm btn-upload {{btnclass}}"
		accept="audio/mp4"
		ngf-select="uploadFiles($files)">
      <span ng-bind="btntext"></span>
    </button>
	<ul class="file-list"
		ng-class="{'file-list-border':files.length>0}"
		ng-show="isuploading">
		<li class="file-item" ng-repeat="f in files" >
			<div class="file-info">
				<span class="file-name">{{f.name}}</span>
				<span class="file-size">({{f.size / (1024*1024) | number:2}} M)</span>
			</div>
			<div class="file-progress">
				<div class="progress">
					<div role="progressbar"
						class="progress-bar progress-bar-info"
						style="width:{{f.progress}}%"
        				ng-bind="f.progress + '%'">
        			</div>
				</div>
			</div>
		</li>
	</ul>
</div>