.img-crop-input {
    img {
        position: relative;
        &:after {
            content: "";
            width: 100px;
            height: 100px;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: url("images/default-square.jpg");
            background-size: contain;
        }
    }
    .file-desc {
        margin-top: 10px;
        li {
            line-height: 30px;
        }
    }
    .imgArea,
    .imgProblem {
        display: none;
        margin-top: 20px;
    }
    .imgProblem {
        color: #a94442;
    }
    .fileWord {
        margin-top: 45px;
    }
    .imgArea {
        overflow: hidden;
    }
    .btn-file {
        position: relative;
        overflow: hidden;
    }
    .seeImgArea {
        margin-top: 15px;
    }
    .imgOrginalArea {
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        width: 400px;
        height: 300px;
        img-crop {
            display: block;
            width: 100%;
            height: 100%;
            canvas {
                margin: 0!important;
            }
        }
    }
    .cropArea {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
        p {
            margin-bottom: 10px;
        }
    }
    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        background: red;
        cursor: inherit;
        display: block;
    }
    input[readonly] {
        background-color: white !important;
        cursor: text !important;
    }
}
