.message-editor-pictext-modal {
    @extend %all-modal;
    .modal-dialog {
        width: 970px;
    }
    .modal-body {
        overflow: hidden;
        padding: 0;
        .pictext-toolbar {
            padding: 10px;
        }
        .pictext-list {
            padding: 20px;
            margin: 30px 0;
            .list {
                word-wrap: break-word;
                overflow: hidden;
                &>li {
                    width: 290px;
                    border: 1px solid #e7e7eb;
                    position: relative;
                    float: left;
                    margin: 0 25px 25px 0;
                    opacity: 1;
                    a {
                        pointer-events: none;
                    }
                    .pictext-selected-mask {
                        position: absolute;
                        z-index: 10;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        .mask-icon {
                            text-align: center;
                            display: block;
                            color: #fff;
                            text-shadow: 2px 6px 1px #000;
                            top: 50%;
                            margin-top: -40px;
                            position: relative;
                        }
                    }
                    &.pictext-selected {
                        border: 2px dashed #000;
                        &:after {
                            content: "";
                            width: 100%;
                            height: 100%;
                            display: block;
                            opacity: 0.7;
                            background-color: #000;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                    &:nth-child(3n+1) {
                        clear: both;
                    }
                    &.one {
                        h5 {
                            margin: 5px 15px;
                            a {
                                display: block;
                                color: #333;
                                padding: 5px 0;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                        em {
                            color: #999;
                            display: block;
                            margin: 3px 15px;
                        }
                        p {
                            color: #999;
                            line-height: 1.6;
                            margin: 5px 15px;
                        }
                        .imgArea {
                            height: 160px;
                            overflow: hidden;
                            margin: 10px 15px;
                            h5 {
                                display: none;
                            }
                        }
                    }
                    &.other {
                        ul {
                            li+li {
                                border-top: 1px solid #e7e7eb;
                            }
                            em {
                                color: #999;
                            }
                            .first {
                                &>h5 {
                                    display: none;
                                }
                                em {
                                    display: block;
                                    margin: 10px 15px;
                                }
                                .imgArea {
                                    height: 160px;
                                    overflow: hidden;
                                    margin: 10px 15px;
                                    position: relative;
                                }
                            }
                            .other {
                                height: 120px;
                                padding: 20px 15px;
                                overflow: hidden;
                                .imgArea {
                                    float: right;
                                    img {
                                        width: 80px;
                                        height: 80px;
                                        position: relative;
                                        &:after {
                                            content: "";
                                            width: 80px;
                                            height: 80px;
                                            display: block;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            background: url("images/default-square.jpg");
                                            background-size: contain;
                                        }
                                    }
                                    h5 {
                                        display: none;
                                    }
                                }
                                h5 {
                                    float: left;
                                    width: 160px;
                                    max-height: 50px;
                                    overflow: hidden;
                                    margin-top: 10px;
                                    line-height: 1.5;
                                    a {
                                        display: block;
                                        color: #333;
                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }
                                }
                                em {
                                    display: none;
                                }
                            }
                        }
                    }
                    .imgArea {
                        img {
                            width: 100%;
                            position: relative;
                            &:after {
                                    content: "";
                                    width: 100%;
                                    height: 160px;
                                    display: block;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    background: url("images/default-rectangle.jpg");
                                    background-size: contain;
                                }
                        }
                        h5 {
                            position: absolute;
                            width: 100%;
                            bottom: 0;
                            left: 0;
                            max-height: 56px;
                            line-height: 1.5;
                            &:before {
                                content: "";
                                width: 100%;
                                height: 100%;
                                background: #000;
                                opacity: 0.5;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                zoom: -1;
                            }
                            a {
                                position: relative;
                                margin: 5px;
                                display: block;
                                color: #fff;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    .btnArea {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 45px;
                        overflow: hidden;
                        background: #f4f4f4;
                        border-top: 1px solid #e7e7eb;
                        a {
                            display: block;
                            width: 138px;
                            float: left;
                            height: 45px;
                            line-height: 45px;
                            text-align: center;
                            color: #B2B2B2;
                            &:hover {
                                color: #333;
                            }
                        }
                        a+a {
                            width: 137px;
                            border-left: 1px solid #e7e7eb;
                        }
                    }
                }
            }
        }
    }
    .modal-footer {
        text-align: left;
        overflow: hidden;
        .footer-left {
            line-height: 38px;
            float: left;
        }
        .footer-right {
            float: right;
        }
    }
}
