.mainframe {
    .editor-section {
        padding: 30px;
        .title {
            margin: 20px 0;
            font-size: 1.6em;
            font-weight: bold;
        }
        h1,.h1 {
            font-size: 2.17em;
            line-height: 1.4;
            font-weight: 400;
            margin: 0
        }
        h2,.h2 {
            font-size: 1.74em;
            line-height: 1.4;
            font-weight: 400;
            margin: 0
        }
        h3,.h3 {
            font-size: 1.31em;
            line-height: 1.4;
            font-weight: 400;
            margin: 0
        }
        h4,.h4 {
            font-size: 1em;
            line-height: 1.4;
            font-weight: 400;
            margin: 0
        }
        h5,.h5 {
            font-size: 0.8em;
            line-height: 1.4;
            font-weight: 400;
            margin: 0
        }

    }
}
