// 變數宣告
$base-blue:#5389d6;
$layout-border:1px solid #ccc;
$layout-rightArea-paddingLR:25px;
$background-color:#cdcdcd;
$phone-bgimg:"images/phoneholder/PhoneFrame.png";
$modal-border:1px solid #e5e5e5;


