.ca-fansinfo {
    table {
        tbody {
            td {
                vertical-align: middle;
            }
        }
    }
    a {
        cursor: pointer;
    }
    .search-area {
        padding: 15px 25px 1px 25px !important;
        .fa-search {
            font-size: 18px;
        }
    }
    .fansinfo-result {
        position: relative;
        margin: 30px;
    }
    .fansinfo-table {
        border-bottom: $layout-border;
        thead {
            background-color: #f4f5f9;
        }
        .fansinfo-image {
            padding-left: 10px;
            vertical-align: middle;
            position: relative;
            &:after {
                content: "";
                width: 38px;
                height: 38px;
                display: block;
                position: absolute;
                top: 0;
                left: 10px;
                background: url("images/default-square.jpg");
                background-size: contain;
            }
        }
        .fansinfo-nickname {
            padding-left: 10px;
        }
    }
    .fansinfo-list {
        height: 600px;
        padding-right: 200px;
        border: $layout-border;
        border-right: 0;
    }
    .fansinfo-empty {
        padding: 50px;
    }
    .fansinfo-group {
        position: absolute;
        top: 0;
        right: 0;
        display: table-cell;
        width: 200px;
        height: 600px;
        border: $layout-border;
    }
    .group-title {
        padding: 14px;
        border-bottom: $layout-border;
    }
    .group-fn {
        cursor: pointer;
        color: #459ae9;
    }
    .group-select {
        height: 30px;
        font-size: 14px;
    }
    .fansinfo-group-list {
        cursor: pointer;
        .groupcount {
            color: #ccc;
        }
        .fansinfo-group-item {
            padding: 14px;
            &:hover {
                background-color: #f4f5f9;
            }
        }
        .selected {
            background-color: #f4f5f9;
        }
        .group-black {
            border-top: $layout-border;
            border-bottom: $layout-border;
        }
    }
}

.tooltip.fansinfoTooltip {
    .tooltip-arrow {
        display: none;
    }
    .tooltip-inner {
        width: 200px;
        color: #333;
        background-color: #fff;
        border: 1px solid #ccc;
        text-align: left;
        opacity: 1;
        position: relative;
        div {
            padding: 5px;
            overflow: hidden;
            span,p{
                float: left;
                display: block;
            }
            span{
                width: 35%;
                text-align: right;
            }
            p{
                width: 65%;
                text-align: left;
            }
        }
    }
    .tooltip-inner:after,
    .tooltip-inner:before {
        right: 100%;
        top: 45%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .tooltip-inner:after {
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #fff;
        border-width: 10px;
        margin-top: -10px;
    }
    .tooltip-inner:before {
        border-color: rgba(204, 204, 204, 0);
        border-right-color: #ccc;
        border-width: 11px;
        margin-top: -11px;
    }
}

.popover-fansgroup {
    padding: 20px;
    font-size: 14px;
    .popover-label {
        padding-bottom: 16px;
    }
    .btn {
        width: 90px;
    }
    .notice {
        font-weight: bold;
        line-height: 40px;
    }
    .notice-list {
        list-style-type: disc;
        li {
            padding-bottom: 10px;
        }
    }
}

.fansinfo-push-information {
    .push-des {
        margin: 10px 0;
    }
    table {
        margin-bottom: 0;
        font-size: 0.8em;
        &> thead > tr > th:first-child {
            border-left: 1px solid #ddd;
        }
    }
}
